html {
  font-size: 62.5;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(20vw, 1fr));
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 80%;

  background-color: #f2f3f7;
  border-radius: 4rem;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.card__content {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 2rem;
  align-items: center;

  padding: 2rem;
}

.card__content,
a:hover span {
  transform: scale(0.98);
}

.card:hover,
a:hover {
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

img {
  width: 5rem;
  height: 5rem;
  margin-top: 1.5rem;
}

.heading {
  align-self: end;
}
p {
  text-align: center;
  line-height: 1.5;
}

a {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: lightslategray;
  font-size: 1rem;
  border-radius: 4rem;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);

  justify-self: center;
}

@media only screen and (max-width: 900px) {
  .cards {
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: minmax(40vw, 1fr);
    grid-gap: 2rem;
  }
}
